app-tiles {
  .tiles-container {
    min-height: 100px;
    max-height: calc(100% - 50px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
  }  

  /* Small Devices */
  @media (max-width: 767px) {
    .tiles-container {
      max-height: calc(100% - 110px);
    }
  }

  /* Medium Devices */
  @media (min-width: 768px) {
    
  }

  /* Large Devices */
  @media (min-width: 992px) {
    
  }
}
