<div class="flex-grid" *ngIf="gameFieldConfig">
    <div class="grid-header">
        <div class="row">
            <ng-container *ngFor="let fieldConfig of gameFieldConfig.array">
                <ng-container *ngIf="fieldConfig">
                    <div class="col {{fieldConfig.className}} {{fieldConfig.fieldType}}">
                        <span>{{fieldConfig.headerName}}</span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="grid-body">
        <div class="row" *ngFor="let game of games">
            <ng-container *ngFor="let fieldConfig of gameFieldConfig.array">
                <ng-container *ngIf="fieldConfig">
                    <div class="col {{fieldConfig.className}} {{fieldConfig.fieldType}}">
                        <span [title]="game.fieldName">{{game[fieldConfig.fieldName]}}</span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
