<div class="items-list-container">
    <div class="action-container">
        <div class="game-search">
            <mat-form-field>
                <input #gameSearch matInput placeholder="Search" [value]="searchTerm">
            </mat-form-field>
            <button #clearSearch mat-raised-button color="primary">Clear</button>

            <div #autoComplete class="auto-complete"
                [hidden]="!searchTerm || !showAutoComplete || !autoCompleteList || !autoCompleteList.length">
                <div class="auto-complete-row" *ngFor="let game of autoCompleteList" (click)="selectGame(game)">
                    {{game.Name}}
                </div>
            </div>
        </div>

        <div class="game-sort">
            <!-- Sort By:

            <select name="gameSortby" (change)="onSortChange($event)">
                <option *ngFor="let option of sortByOptions" [value]="option">{{option | uppercase}}</option>
            </select> -->

            <mat-form-field>
                <mat-label>Sort By</mat-label>
                <mat-select>
                    <mat-option *ngFor="let option of sortByOptions" [value]="option">
                        {{option | uppercase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <app-items-grid [items]="items" *ngIf="showAsGrid"></app-items-grid>
    <app-items-tiles [items]="items" *ngIf="!showAsGrid"></app-items-tiles>
</div>
