<div class="games-list-container">
    <div class="action-container">
        <div class="game-search">
            <mat-form-field>
                <input matInput placeholder="Search" [formControl]="searchTerm">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="clearSearch()">Clear</button>

            <div #autoComplete class="auto-complete"
                [hidden]="!searchTerm || !showAutoComplete || !autoCompleteList || !autoCompleteList.length">
                <div class="auto-complete-option" *ngFor="let game of autoCompleteList" (click)="selectGame(game)">
                    {{game.title}} ({{game.platform}})
                </div>
            </div>
        </div>

        <div class="game-sort">
            <mat-form-field>
                <mat-label>Sort By</mat-label>
                <mat-select [value]="sortBy && sortBy.field" (selectionChange)="onSortChange($event, 'field')">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="sortBy && sortBy.field">
                <mat-label>Direction</mat-label>
                <mat-select [value]="sortBy && sortBy.direction" (selectionChange)="onSortChange($event, 'direction')">
                    <mat-option *ngFor="let option of sortDirectionOptions" [value]="option">
                        {{option | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <app-games-grid [gameFieldConfig]="gameFieldConfig" [games]="games" *ngIf="showAsGrid"></app-games-grid>
    <app-games-tiles [games]="games" *ngIf="!showAsGrid"></app-games-tiles>
</div>
