app-games-grid {
  .flex-grid {
    min-height: 100px;
    max-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    overflow: auto;

    .grid-header, .grid-body {
      width: 100%;

      .row {
        height: 50px;
        width: 100%;
        display: flex;
        border-bottom: 1px solid gray;
        box-sizing: border-box;

        &:last-child {
          border-bottom: none;
        }

        .col {
          height: 100%;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: flex-start;
          margin-right: 10px;
          overflow: hidden;

          span {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &:first-child {
            padding-left: 15px;
          }

          &.game-title {
            flex: 4;
          }

          &.game-platform, &.game-genre {
            flex: 2;
          }

          &.game-editors-choice {
            flex: 3;

            span {
              display: none;
              
              &.Y {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .grid-header {
      position: sticky;
      top: 0;
      border-bottom: 1px solid gray;
      box-sizing: border-box;

      .row {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        background: white;
        z-index: 1;
      }
    }
  }  

  /* Small Devices */
  @media (max-width: 767px) {
    .flex-grid {
      .grid-header {
        display: none;
      }

      .grid-header, .grid-body {
        .row {
          height: unset;
          flex-direction: column;
          .col {
            display: block;
            padding-left: 15px;

            span {
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  /* Medium Devices */
  @media (min-width: 768px) {
    .flex-grid {
      .grid-header, .grid-body {
        .row {  
          .col {
            &.game-title {
              min-width: 200px;
            }
  
            &.game-editors-choice {
              min-width: 100px;
            }
          }
        }
      }
    }
  }

  /* Large Devices */
  @media (min-width: 992px) {
    .flex-grid {
      .grid-header, .grid-body {
        .row {  
          .col {
            &.game-title {
              min-width: 300px;
            }
  
            &.game-editors-choice {
              min-width: 200px;
            }
          }
        }
      }
    }
  }
}
