<div class="games-container">
    <div class="action-container">
        <div class="game-search">
            <mat-form-field>
                <input matInput placeholder="Search" [formControl]="searchTerm" [disabled]="isLoading">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="clearSearch()" [disabled]="isLoading">Clear</button>

            <div #autoComplete class="auto-complete"
                [hidden]="!searchTerm || !showAutoComplete || !autoCompleteList || !autoCompleteList.length || autoCompleteList.length < 2">
                <div class="auto-complete-option" *ngFor="let game of autoCompleteList" (click)="selectGame(game)">
                    {{game.title}} ({{game.platform}})
                </div>
            </div>
        </div>

        <div class="game-sort">
            <mat-form-field>
                <mat-label>Sort By</mat-label>
                <mat-select (selectionChange)="onSortChange($event, 'field')" [disabled]="isLoading">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="sortBy && sortBy.field">
                <mat-label>Direction</mat-label>
                <mat-select [value]="sortBy && sortBy.direction" (selectionChange)="onSortChange($event, 'direction')"
                    [disabled]="isLoading">
                    <mat-option *ngFor="let option of sortDirectionOptions" [value]="option">
                        {{option | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="mat-spinner-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isLoading">
        <app-grid [gameFieldConfig]="gameFieldConfig" [games]="games" *ngIf="showAsGrid"></app-grid>
        <app-tiles [gameFieldConfig]="gameFieldConfig" [games]="games" *ngIf="!showAsGrid"></app-tiles>
    </ng-container>
</div>
